<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>ng-scrollable</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="../assets/ng-scrollable.css" rel="stylesheet">
        <style>
            .logo {font-size:60px; line-height: 70px; font-weight: bold;}
            .sectionhead {padding-top: 30px;}
            .scrollarea {width: 100%; height: 300px; margin:0 auto}
            .demo {background-image: url("../assets/dumbo.jpg"); height: 1120px; width: 1680px;}
        </style>
    </head>
    <body ng-app="app" class="text-center">
        <h1 class="logo">ng-scrollable</h1>
        <p class='lead'>Pure Javscript / AngularJS scrolling.</p>
        <section>
            <h2 class="sectionhead">Features</h2>
            <p class='lead'>Supports mouse, wheel, keyboard and touch input sources.</p>
            <p class='lead'>Kinetic scrolling on touch devices.</p>
            <p class='lead'>Small. Minified size is 10k JS + 1.4k CSS.</p>
            <p class='lead'>Pure Angular. No jquery required.</p>
            <p class='lead'>Soft scrolling using CSS3 translate3d and transition.</p>
            <p class='lead'>Responsive and friendly to your layout.</p>
            <p class='lead'>Fully customizable. CSS, scrollbar position and behaviour.</p>
        </section>
        <section>
            <h2 class="sectionhead">Download</h2>
            <p>
                <a href="https://github.com/echa/ng-scrollable/archive/0.2.5.tar.gz" class="btn btn-lg btn-success">ng-scrollable-0.2.5.tar.gz</a>
                <a href="https://github.com/echa/ng-scrollable/archive/0.2.5.zip" class="btn btn-lg btn-success">ng-scrollable-0.2.5.zip</a>
            </p>
        </section>
        <section>
            <h2 class="sectionhead">Demo</h2>
            <div class="container-fluid" ng-controller="Demo">
                <div class="row">
                    <div class="col-md-6">
                        <h5>ng-scrollable with bars on both axes</h5>
                        <p><code>{scrollX:'bottom',scrollY:'right'}</code>(default)</p>
                        <div ng-scrollable class="scrollarea">
                            <div class="demo"></div>
                        </div>
                        <i class="text-muted">Use mouse or keyboard to scroll.</i>
                    </div>
                    <div class="col-md-6">
                        <h5>ng-scrollable with left vertical bar only</h5>
                        <p><code>{scrollX:'none',scrollY:'left'}</code></p>
                        <div ng-scrollable="{scrollX:'none',scrollY:'left'}" class="scrollarea">
                            <img src="../assets/dumbo.jpg"/>
                        </div>
                        <i class="text-muted">Note how keyboard <kbd>Home</kbd>/<kbd>End</kbd> keys change.</i>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <h3>Manual positioning</h3>
                        <h5>ng-scrollable with controls</h5>

                        <div style="margin-bottom: 10px;">
                            <div class="btn-group">
                                <button class="btn btn-primary" ng-click="moveX(-50)">Left</button>
                                <button class="btn btn-primary" ng-click="moveX(50)">Right</button>
                            </div>
                            <div class="btn-group-vertical">
                                <button class="btn btn-primary" ng-click="moveY(-50)">Up</button>
                                <button class="btn btn-primary" ng-click="moveY(50)">Down</button>
                            </div>
                            <button class="btn btn-primary" ng-click="center()">Scroll to center</button>
                        </div>
                        <div ng-scrollable="{scrollX:'bottom',scrollY:'right'}" class="scrollarea" spy-x="posX" spy-y="posY">
                            <img src="../assets/dumbo.jpg"/>
                        </div>
                        X {{posX}} Y {{posY}}
                    </div>
                </div>
            </div>
        </section>
        <section>
            <h2 class="sectionhead">How to use it</h2>
            <div class="container-fluid"><div class="row"><div class="col-md-8" style="float:none; margin:0 auto">
            <pre class='prettyprint text-left'>&lt;head&gt;
    &lt;link href="ng-scrollable.min.css" rel="stylesheet"&gt;
    &lt;script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"&gt;&lt;/script&gt;
    &lt;script src="ng-scrollable.min.js"&gt;&lt;/script&gt;
    &lt;script&gt;var app = angular.module('app', ['ngScrollable']);&lt;/script&gt;
&lt;/head&gt;
&lt;body ng-app="app"&gt;
    &lt;div ng-scrollable style="width: 400px; height: 300px;"&gt;
        &lt;img src="image.png"/&gt;
    &lt;/div&gt;
&lt;/body&gt;</pre>
        </div></div></div>
        </section>
        <section>
            <h2 class="sectionhead">Documentation</h2>
            <p class='lead'>
                See the README file in the <a href='https://github.com/echa/ng-scrollable'>GitHub Repo</a>.
            </p>
        </section>
        <section>
            <h2 class="sectionhead">License</h2>
            <p class='lead'>
                The MIT License (MIT)
                <br>
                Copyright (c) 2014 - 2016 <a href='http://github.com/echa'>Alexander Eichhorn</a> and <a href="https://github.com/echa/ng-scrollable/graphs/contributors">contributors</a>.
            </p>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js"></script>
        <script src="../src/ng-scrollable.js"></script>
        <script src="demo.js"></script>
    </body>
</html>
